%h5 #{invite_type} Events
- if invite.present?
  %table.table.table-hover
    %thead
      %tr
        %th.w-10 Name
        %th.w-30 Description
        %th.w-20 Time
        %th.w-10 Duration
        %th.w-10 Host
        %th.w-10 Status
        %th.w-10 Actions  
    %tbody
      - invite.each do |i|
        %tr
          %td.w-10= i.event.try(:name)
          %td.w-30= i.event.try(:description)
          %td= date_format(i.event.try(:event_at))
          %td= formatted_duration_hh_mm(i.event.try(:duration))
          %td= i.user.email
          %td= i.status
          %td
            -if i.status == 'pending' || i.status == 'rejected'
              =link_to 'Accept', invites_update_status_path(id: i, status: 'accepted'), method: :post, data:{ confirm: 'Are you sure?'}, class: "btn btn-success"
            -if i.status == 'pending' || i.status == 'accepted'  
              =link_to 'Reject', invites_update_status_path(id: i, status: 'rejected'), method: :post, data:{ confirm: 'Are you sure?'}, class: "btn btn-danger"
          / -if i.status == 'rejected'
          /   %td= link_to 'Accept', class:"btn btn-success"
          / -if i.status == 'accepted'
          /   %td= link_to 'Reject', class:"btn btn-alert"
-else
  .alert.alert-primary
    %h6 No #{invite_type} Events!!
