.col-md-6
  = form_for @event do |f|
    - if @event.errors.any?
      #error_explanation.alert.alert-danger
        %ul
          - @event.errors.full_messages.each do |message|
            %li= message
    .form        
      .field.form-group
        = f.label :name
        = f.text_field :name, class: "form-control", required: true
      .field.form-group
        = f.label :description, " Description (1500 characters limit)"
        = f.text_area :description, class: "form-control", rows: 4, required: true
      .field.form-group
        = f.label :event_at
        = f.text_field :event_at, value: f.object.event_at ? f.object.event_at.strftime('%B %d, %Y %I:%M %p') : nil, class: "form-control datetimepicker-input", id: "datetimepicker1"
        
      .field.form-group
        = f.label :duration
        %br
        = f.time_field :duration, value: Time.parse(formatted_duration(f.object.duration.to_i)).strftime("%H:%M"), class:"form-control"
      .actions
        = f.submit 'Save', class: 'btn btn-primary form-control'

  %br
  = link_to 'Back', events_path, class: 'btn btn-warning'

:javascript
  $(function () {

    $('#datetimepicker1').datetimepicker({
    format: 'MMMM D YYYY, h:mm A',
    maxDate: new Date(Date.now() + (365 * 24 * 60 * 60 * 1000)),
      sideBySide: true,
  icons: {
    up: 'fa fa-arrow-up',
    down: 'fa fa-arrow-down',
    previous: 'fa fa-chevron-left',
    next: 'fa fa-chevron-right',
    close: 'fa fa-times'
  }

  });
  });

